body {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    height: 82vh;
}

h1 {
    text-align: center;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 12rem;
}

.container span {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;
    flex-wrap: wrap-reverse;
}

.container .buttons button {
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
    -o-border-radius: 1.1rem;
    -webkit-border-radius: 1.1rem;
    -moz-border-radius: 1.1rem;
    -ms-border-radius: 1.1rem;
    border-radius: 1.1rem;
    padding: 1rem 0.5rem;
    background-color: #111;
    color: white;
}